body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 100%; /* Фиксированная ширина для карточки */
  margin: 1rem; /* Отступы между карточками */
  height: 100%; /* Например, задайте высоту карточки в 100% */
  justify-content: center;
}

.card-body {
  min-height: 100px; /* Минимальная высота для содержимого карточки */
}

.card-title {
  font-size: 1.25rem; /* Размер заголовка карточки */
}

.card-text {
  font-size: 1rem; /* Размер текста в карточке */
}

.card-img-top {
  height: 100px; /* Высота изображения обложки */
  width: 150px;
  object-fit: cover; /* Заполнение изображения обложки карточки */
}

.card img {
  height: 100%; /* Высота изображения равна 100% высоты родительской карточки */
  object-fit: cover; /* Сохранить соотношение сторон и заполнить контейнер */
}
